/*
  ABACLES
*/


#botnav
{
    margin-top: 25px;
    width: 100%;
        font-family: 'Source Code Pro', sans-serif;

}


@media screen and (max-width: 600px)
{
    #navmap
    {
	display: none;
    text-align: center;
    }
    #navup
    {
	width: 100%;
	height: 40px;
	border-bottom: 3px solid #1C77C3;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #1C77C3;
    }
}


@media screen and (min-width: 601px)
{
    #botnav
    {
    }
    #navmap
    {
	width: 100%;
    text-align: left;
	border-top: 5px solid #1C77C3;
    }
    #navmap *
    {
	transition-duration: 0.3s;
    }
    #navmap td
    {
	overflow: hidden;
	font-size: 20px;
    }
    #navmap a
    {
	margin: -30% 0%; /* make the link fill up entire td */
	padding: 32% 3%;
	width: 100%;
	display: block;
	color: #F2F5FF;
	font-weight: lighter;
    }
    #navmap_home
    {
	width: 15%; /* set to small value to avoid stretching */
	text-align: center;
    }
    #navmap_home a /* increases importance */
    {
	font-size: 20px;
    }
    #navmap_current a
    {
	font-weight: bold;
	color: #1C77C3;
    }
    #navmap_home_current
    {
	width: 15%;
	text-align: center;
    }
    #navmap_home_current a
    {
	font-size: 20px;
	font-weight: bold;
	color: #1C77C3;
    }

    #navmap:hover #navmap_current a
    {
	color: #F2F5FF;
    }
    #navmap:hover #navmap_home_current a
    {
	color: #F2F5FF;
    }
    #navmap td:hover a
    {
	color: #1C77C3;
    }
    /* fix for hover over navmap_current; specify #navmap to increase importance */
    #navmap #navmap_current:hover a
    {
	color: #1C77C3;
    }
    #navmap #navmap_home_current:hover a
    {
	color: #1C77C3;
    }

    #navup
    {
	display: none;
    }
    #ProgClub {
        margin:0;
        padding: 0;
    }
}
@media screen and (min-width: 1200px) {
  #navmap_home_current a
  {
font-size: 20px;
font-weight: bold;
color: #1C77C3;
  }
}
