/*
  ABACLES
*/


/* nav container */
#topnav {
    overflow: hidden; /* elements are float and are not counted in height */
    width: 100%;
    background-color: rgb(42,42,42,.9);

}

/* nav bar */
#navbar {
    float: left;
    /*border-collapse: collapse;*/
}
#navbar td {
    text-align: center;
}
#navbar a {
    display: block;
    color: #F2F5FF;
    font-family: 'Source Code Pro', sans-serif;
}
#navbar td:hover a {
    color: #1C77C3;
    transition-duration: 0.2s;
}

/* nav logo */
#navlogo_wrap {
  padding: 5px;
    float: left;
    direction: ltr;

}
#navlogo {
    display: inline-block;
    font-family: 'Source Code Pro', monospace;

}
#navlogo a {
    display: inline-block;
    float: left;
    font-weight: lighter;
    color: #F2F5FF;

}
#navlogo:hover a {
    color: #1C77C3;
    transition-duration: 1s;
}
#main_logo {
    display: block;
    padding: 5px;
    width: 30px;
}


@media screen and (max-width: 1200px) {
  #navbar {
	width: 100%;
  }
  #navbar td {
  width: 100px;
	padding: 5px;
  border-bottom: 5px solid #F2F5FF;
	font-size: 3vw;
  }
  #navbar td:hover {
	border-bottom: 5px solid #1C77C3;
	transition-duration: 0.2s;
  }
  #navlogo_wrap {
	width: 100%;
  float:left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  #navlogo {
  width: 100%;
  float:left;
	margin: 0 auto;
  }
  #navlogo a {
	line-height:50px;
	font-size: 5vw;
  padding: 2px;
  width: 100%;
  text-align: center;
  }
  #main_logo {
	width: 50px;
  margin: 0 auto;
	height: 50px;
  }
}

/* font size fix */
@media screen and (min-width: 575px) and (max-width: 1200px) {
    #navbar td {
      font-size: 15px;
    }
    #navlogo a {
      font-size: 20px;
    }
}


@media screen and (min-width: 1200px) {
  #topnav {
        /*position: fixed;*/
  }
    #navbar {
    	width: 50%;
    	height: 64px;
    	margin: 4px 0px;
    }
    #navbar td {
    	font-size: 1.8vw;
    	border-bottom: 3px solid #F2F5FF;
    }
    #navbar a {
	    line-height: 64px;
    }
    #navbar td:hover {
      border-bottom: 3px solid #1C77C3;
    }
    #navlogo_wrap {
	    width: 50%;
    }
    #navlogo {
	    height: 64px;
    }
    #navlogo a {
    	line-height: 64px;
    	font-size: 5vw;
    }
    #main_logo {
    	width: 64px;
    	height: 64px;
    }
}

/* font size fix */
@media screen and (min-width: 1200px) {
    #navbar td {
	    font-size: 20px;
    }
    #navlogo a {
	    font-size: 20px;
    }
}
